.DiscussionChat-container{width:100%;}
.DiscussionChat-title{padding:20px 40px;margin:0;}
.DiscussionChat-chats{max-height:60vh;overflow:auto;padding:0 40px;}
.DiscussionChat-input{position:absolute;bottom:0;padding:0 40px;width:100%;}
