.DiscussionChat-container{width:100%;}
.DiscussionChat-title{padding:70px 40px 20px;margin:0;}
.DiscussionChat-chats{padding:0 40px;}
.DiscussionChat-input{padding:10px 40px;width:100%;position:fixed;background-color:#f4f4f4;}
