.NewDiscussionMessageInput-container{width:100%;}
.NewDiscussionMessageInput-input{width:70%;padding:10px 15px;border:2px solid #adadad;}
.NewDiscussionMessageInput-button{width:30%;padding:10px 0;border:none;background-color:#c7c7c7;font-size:16px;font-weight:bold;}
