.NewPostInput-input{padding:15px;border:1px solid #b4b3b3;font-size:14px;width:80%;}
.NewPostInput-button{padding:15px 20px;background-color:#a9a9a9;border:1px solid #a9a9a9;font-weight:bold;width:20%;}
