.SingleDiscussionMessage-container{background-color:#fff;display:inline-block;margin:5px 0;border:2px solid #e5e5e5;border-radius:5px;}
.SingleDiscussionMessage-container-name{margin:0;font-size:14px;background-color:#f0f0f0;padding:5px 15px;color:#585858;}
.SingleDiscussionMessage-date{font-size:13px;}
.SingleDiscussionMessage-container-message{margin:0;padding:5px 15px;}
