.section-container {
  width: 70%;
  margin-left: 15%;
  border: 5px solid white;
  padding: 8px;
  background: aliceblue;
  background-clip: padding-box;
}
.container1 {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
.container2 {
  width: 100%;
}
.item {
  font-weight: bold;
  font-size: large;
  width: 100%;
}
.profile-block {
  display: flex;
  justify-content: space-between;
}
.profile {
  width: 64px;
  height: 64px;
  border-radius: 64px;

  background-color: blue;
}
.text-area {
  background-color: white;
  color: black;
  width: 95%;
}
.text-area1 {
  background-color: aliceblue;
  border: 0ch;
  color: black;
  width: 100%;
}
.text-area1::placeholder {
  color: black;
}
.comment-block {
  display: flex;
  justify-content: space-between;
  margin-left: 64px;
  align-items: center;
}
.like-block {
  margin-left: 64px;
  display: flex;
  justify-content: space-between;
}
.comment-example {
  display: flex;
  gap: 4px;
  margin-left: 64px;
}
.commentor {
  font-weight: 500;
}
.comment-number {
  font-style: italic;
  margin-left: 64px;
}
